<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nike Shoes</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <a class="btn_login" href="https://kauth.kakao.com/oauth/authorize?client_id=5cb4b52a3aed06734662d776fdd9dc0d&redirect_uri=http://localhost:3000/kakaologin&response_type=code"></a>
  </body>
</html>
