<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Nike Shoes</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

  </head>
  <body>
    <a href="/logout">로그아웃</a>
    <a href="/resignation">앱탈퇴</a>
    <img class="user_profile"/>
    <p class="user_nickname"></p>
    <p class="user_email"></p>

    <script>
      $(document).ready(function(){
        var info = <%- JSON.stringify(info) %>;
        console.log(info);
        $('.user_profile').attr('src',info.profile_image);
        $('.user_nickname').text(info.nickname);
      });

      // function connectApp(token){
      //   var headers = {"Authorization":"Bearer "+token};
      //   $.ajax({
      //     url: "https://cors-anywhere-esko.herokuapp.com/https://kapi.kakao.com/v1/user/signup",
      //     type: "GET",
      //     headers : headers,
      //     success: function(data){
      //       console.log(data);
      //     },
      //     error: function(err){
      //       console.log(err);
      //     }
      //   })
      // }
      //
      // function getUserInfo(token){
      //   var headers = {"Authorization":"Bearer "+token};
      //   $.ajax({
      //     url: "https://cors-anywhere-esko.herokuapp.com/https://kapi.kakao.com/v1/user/me",
      //     type: "GET",
      //     headers : headers,
      //     success: function(data){
      //       console.log(data);
      //       var profile = data.properties.profile_image;
      //       var nickname = data.properties.nickname;
      //       $('.user_profile').attr('src',profile);
      //       $('.user_nickname').text(nickname);
      //     },
      //     error: function(err){
      //       console.log(err);
      //     }
      //   })
      // }
    </script>
  </body>
</html>
